div, section, header, body, footer, article, nav {

	border: 1px solid red;

}
nav {
	text-align: right;
	position: relative;
	

}
ul, li {
	list-style: none;
	text-align: right;
	display: inline-block;
	padding: 5px;
	
}
.lupa {
	display: inline-block;
	text-decoration: none;
	background-color: lightblue;
	color: white;
	text-align: center;
	margin: 0px;


}


<-- ids -->
#logo {
	


}
#menu li {
	text-align: right;

}