




































/*
li {
	list-style: none;
	text-align: right;
	display: inline-block;
	position: relative;	

	
}
.lupa {
	display: inline-block;
	text-decoration: none;
	background-color: lightblue;
	color: white;
	text-align: center;
	margin: 0px;


}


.bannerprincipal {
	background-image: url("images/indexbanner-bg3.jpg");
	height: 600px;


}
.center {

	text-align: center;
	position: relative;
	centered
}
.left {
text-align: left;

}
.right {
text-align: right;

}
